body {
    background-image:  url('../images/cover/ind-back-cover8.jpg');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
}

.cover-title{
    text-align: left;
    position: relative;
    top: 475px;
    left:50px ;
}

h1.info-type{
    color:#006c99 ;
    font-size: 12pt;
    font-family: Lato, sans-serif;
    font-weight: normal;
    text-align: left;
}

img.comp-logo{
    height: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 720px;
}

img.coverlogo{
    width: 200px;
    position: absolute;
    left:50px ;
    top: 280px;
}

@page {
    size: a4;
    margin:0;
  }
  @media print {
    html, body {
        width: 100%;
        height: 95%;
    }
    .cover-title{
        text-align: left;
        position: relative;
        top: 475px;
        left:50px ;
    }
    
    h1.info-type{
        color:#006c99 ;
        font-size: 12pt;
        font-family: Lato, sans-serif;
        font-weight: normal;
        text-align: left;
    }
    
    img.comp-logo{
        height: 200px;
        float: right;
        margin-right: 50px;
        margin-top: 720px;
    }
    
    img.coverlogo{
        width: 200px;
        position: absolute;
        left:50px ;
        top: 280px;
    }
    
  }

@media only screen {
    html,body{
    width: 210mm;
    height: 297mm;
    }
    

}