body{
    background-color:white;
    font-family: Lato, sans-serif;
    width: 100%;
}


.header-container {
    width: 86%;
    height: 30%;
    -webkit-print-color-adjust: exact;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 100%;
    vertical-align: middle;
    margin-top: -25px;
}

.sub-header {
    font-size: 16px;
    font-family: Verdana, serif;
    color: #4b4a4a;
}

.header-tbl {
    border-spacing: 10px;
    border-collapse: separate;
    
}

.header-tbl td{
    padding: 10px;
}

.text-uppercase{
    text-transform: uppercase;
}

.heading-dim2{
    font-size: 14pt;
}

h1.welcome{
    font-size: 24pt;
    font-weight:400;
    color: #00293f;
}

h1.engage{
    font-size: 36pt;
    font-weight: 500;
    margin-top: -15px;
    color: #00293f
}

.bold{
    font-weight: bold;
}

.bg-color-header {
    background-color: #006c99;
    padding: 5px 10px;
    height: 80px;
    margin-bottom: 5px;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    font-size: 10pt;
    color: white;
}


.header-text {
    font-family: sans-serif;
    color:black;
    font-size: 16px;
    font-weight: 400;
    line-height: 65px;

}

.header-table {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.sum-score{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;    
}

.heading {
    text-align: left;
    font-size: 24pt;
    font-weight: normal;
}

.heading2 {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.score-heading {
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    margin-bottom: -15px;
}

.green{
    color: #5ec098;
}


.orange{
    color: #f3b945;
}


.red{
    color: #f0545c;
}


.heading-text{
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
}

.score-heading{
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

.heading-dim{
    font-size: 18pt;
}

.dimension-bg{
    background-color: #f1f1f2;
    padding: 10px 0 20px 0;
    width: 100%;
    margin-left: -6px;
}

.dim-img{
    margin-bottom: 20px;
}

.dim-title{
    font-weight: 700;
    position: absolute;
    margin-top: 20px;
    margin-left: 175px;
}

hr.line-d{
    border-top: 1.8px solid lightgrey;
}

.para p{
    font-size: 12pt;
    text-align: justify;

}

.huge{
    font-size: 60pt;
    color: white;
    margin-top: -20px;
}

.margin-20{
    margin-top: -50px;
    color: white;
}
p.para2 {
    font-size: 11pt;
}

.d-bg{
    background-color: #f1f1f2;
    padding: 5px 10px;
    border-radius: 25px;
}

.text-justify{
    text-align: justify;
}

.img_icon{
    height: 125px;
    margin: auto;
}

.icon-insight{
    height: auto;
}
.img1 img{
    width: 100%;
}

.img2 img{
    width: 100%;
    margin-top: 0px;
}

p.caption{
    font-size: 10pt;
    text-align: left;
}

p.caption2{
    font-size: 16px;
    text-align: left;
    
}

.img2 img{
    width: 75px;
    margin-top: 28px;
}



li.borderless{
    border: 0 none;
    background: none;
}



/* ====================== High Charts ======================*/
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 600px;
    background-color:transparent;
}

#container-bar1 {
    height: 500px;
    background-color:transparent;
}

.highcharts-data-table table {
	font-family: Roboto, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container1 {
    width: 420px;
    margin: 20px auto;
  }


#container-donut{
    height:100% ;
    width: 200px;
    overflow: hidden;
}

#container-donut7,#container-donut8,#container-donut9, #container-donut10,#container-donut11,#container-donut12,#container-donut13,#container-donut14,
#container-donut15,#container-donut16 , #container-donut17{
    height:100% ;
    width: 200px;
    overflow: hidden;
}

/* ============= Footer =========================== */ 
.footer {
    height: 65px;
    width: 100%;
   -webkit-print-color-adjust: exact;
    position: fixed ;
    bottom: 0;
    left: 0;
}

.footer-text {

    color: #006c99;
    font-size: 8pt;
}

.footer-logo-style {
    line-height: 49px;
}

.text-heading{
    font-size:22px ;
}



.department-tbl{
    width: 100%;
    text-align: center;
    
}

.department-tbl th{
    text-align: center;
    color: white;
    font-size: 12pt;
    background-color: #006c99;
    padding: 10px 5px;
}

.department-tbl td{
    padding:  5px;
}

.tbl-left {
    text-align: left !important;
    padding-left: 10px;
}

.score-range img{
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.sub-heading{
    font-size: 14pt;
    font-weight: bold;
}

#container-overall{
    height: 420px;
    width: 400px;
    overflow: hidden;
}

.score-txt {
    font-weight: normal; font-size: 10pt;
}

table.def-tbl td{
    padding: 25px;
    border: 1px solid #A1B5D6;
    vertical-align: top;
    
}

.containerw{
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

.legacy{
    font-size: 10pt;
}

.legacy ul li{
    padding: 2px 0;
}

.legacy2 ul li{
    list-style: none;
    text-align: left;
}

.top-scores{
    background-color: #A7D9C4; text-align: center; border-radius: 15px;
    font-size: 24px;
}

.score-no{
    font-weight: bolder; font-size: 24pt;
}

.txt-insight{
    font-weight: normal; font-size: 22px;
}

.insight-head{
    font-size: 24pt;
}

.col-in{
    width: 50%;
    padding: 0 20px;
}

.col-ov{
    width: 58.3333%;
    padding: 0 20px;
}

.col-ov2{
    width: 41.6666%;
    padding: 0 20px;
}

img.icon-20{
    height: 100%;
    width: 100%;
}

.b-bg{
    background-color: #227CA2; padding: 20px;
}

/********************* PRINT **********************************/
@page {
    size: a4;
    margin:0;
  }
  @media only print {
    html, body {
        width: 100%;
        height: 95%;
    }

    .logo{
        margin-top: -10px;
    }

    .para2 p{
        font-size: 11pt;
    }

    .dim-title{
        margin-top: 10px;
        margin-left: 120px;
    }

    .containerw{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #container-overall{
        height: 420px;
        width:100%;
        overflow: hidden;
        
    }

    .top-scores{
        font-size: 14pt;
    }

    .icon-insight{
        margin-top: 10px;
        height: 22.5px;
    }

    .txt-insight{
        font-weight: normal; font-size: 10pt;
    }

    .insight-head{
        font-size: 18pt;
    }

    .sub-insight{
        font-size: 14pt;
    }

    .col-print{
        width: 50%;
    }

    
    .heading-dim2{
        font-size: 14pt;
    }

    .score-heading{
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
    }

    img.icon-20{
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }

    
  }

  /********************* PRINT END **********************************/

